body  {
	overflow: hidden;
}
.App {
	display: flex;
	width: 100%;
	min-height: 100vh;
}

.leftPane {
	flex: 1;
	height: 90vh;
	border: 0.1em solid black;
	padding: 10px;
}

.rightPane {
	flex: 2;
	height: 90vh;
	border: 0.1em solid black;
	overflow: auto;
	text-align: center;
	padding: 10pxw;
}

img {
	max-width: 400px;
	max-height: 400px;
}

